.mainContainer .post a {
  background-color: rgba(3, 12, 28, 0.35);
  text-decoration: none !important;
}

.mainContainer .wrapper {
  text-align: center;
}

.neonProjectLogo {
  justify-content: center;
  font-size: 5em;
}

.homeSplashFade {
  background: #030c1c;
}

.homeSplashFade .buttonWrapper .button {
  color: white;
  border-color: white;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@font-face {
  font-family: 'neon-tube-thin';
  src: url('/neon-docs/fonts/neon-tube-thin.eot');
}

@font-face {
  font-family: 'neon-tube-wide';
  src: url('/neon-docs/fonts/neon-tube-wide.ttf');
}

.mainContainer {
  background: #030C1C;
}

.neon-logo {
  font-family: 'neon-tube-wide';
  text-align: center;
}

.neon-logo span, .neon-heading {
  font-family: 'neon-tube-wide';
  display: block;
  position: relative;
  transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
  backface-visibility: hidden;
  will-change: opacity;
}

.neon-logo .open {
  transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.neon-logo .open, .neon-heading {
  color: #ffd9e2 !important;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
}

.neon-logo .hrs {
  font-size: 0.3em;
  font-family: 'neon-tube-wide';
  transform: rotate(1deg);
}

.neon-flicker-buzz {
  animation: buzz 0.01s infinite alternate;
}

.neon-flicker-buzz {
  animation: blink 0.01s infinite alternate;
}

.neon-subheading {
  font-family: 'neon-tube-wide';
  color: #d4eaff;
  letter-spacing: 2px;
  /* font-family: 'Courier New', Courier, monospace; */
  /* text-shadow: 0 0 0 transparent, 0 #2695ff; */
  text-shadow: 0px 0px 15px rgba(38, 149, 255, 0.8);
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}
